.gradientButton {
  max-width: 250px;
  text-decoration: none;

  color: white;
  padding: 10px 30px;
  margin: 10px 10px;
  border: 1px solid white;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #eda1eb 0%,
    #9030f0 51%,
    #9d3de1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.gradientButton:hover {
  background-position: right center;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.label {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.input {
  max-width: 250px;
  min-width: 100px;
  padding: 5px 5px;
  margin: 5px 10px;
  border: 1px solid white;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.inputsWrap {
  display: flex;
  flex-direction: column;
}
